@using Rookian.TNL.Infrastructure.FubuMVCTagHelper
@model Rookian.TNL.Features.Home.IndexViewModel
<h1>Home/Index</h1>

@Html.FormBlock(x => x.Name)

@Html.FormBlock(x => x.IndexSubViewModel.Description)
