@using System.Web.Optimization
<!DOCTYPE html>

<html>
    <head>
        <title>Rookian.TNL</title>
    </head>
    <body>
        <div>
            @RenderBody()
        </div>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", false)
    </body>
</html>