@using Rookian.TNL.Infrastructure.FubuMVCTagHelper
@model Rookian.TNL.Features.Account.LoginForm
    
<div class="panel panel-primary col-md-6">
    <div class="panel-body">
        <h2>Login</h2>
        @using (Html.BeginForm("Login", "Account", FormMethod.Post))
        {
            @Html.FormBlock(x => x.UserName)
            @Html.FormBlock(x => x.Password)
            @Html.SubmitBlock()
        }
    </div>
</div>
