@using Rookian.TNL.Features.Account
@using Rookian.TNL.Infrastructure.FubuMVCTagHelper
@model LoginForm

<div class="panel panel-primary col-md-6">
    <div class="panel-body">
        <h2>Login</h2>
        @using (Html.BeginForm("Login", "Account", FormMethod.Post))
        {
            @Html.FormBlock(x => x.UserName)
            @Html.FormBlock(x => x.Password)
            @Html.QueryDropDownFormBlock(x => x.DefaultSubsidiary, new SubsidiaryQuery { IsPublic = true }, d => d.Name, d => d.Id)
            
            @Html.SubmitBlock()
        }
    </div>
</div>
